<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%= accurate_title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a href="../" class="navbar-brand">Default</a>
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Menu <span class="caret"></span></a>
          <ul class="dropdown-menu" aria-labelledby="themes">
            <li><%= link_to 'Company', companies_url %></li>
            <li><%= link_to 'Members', members_url %></li>
            <li class="divider"></li>
            <li><a href="#">Dummy</a></li>
          </ul>
        </li>
        <li><%= link_to 'Field Example', field_examples_url %></li>
        <li><%= link_to 'Company', companies_url %></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="download">Cosmo <span class="caret"></span></a>
          <ul class="dropdown-menu" aria-labelledby="download">
            <li><a href="#">Dummy</a></li>
            <li class="divider"></li>
            <li><a href="#">Dummy</a></li>
            <li><a href="#">Dummy</a></li>
            <li class="divider"></li>
            <li><a href="#">Dummy</a></li>
            <li><a href="#">Dummy</a></li>
          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Dummy</a></li>
        <li><a href="#">Dummy</a></li>
      </ul>

    </div>
  </div>
</div>


<div class="container">
  <%= yield %>
</div>

<%= javascript_include_tag 'application' %>
</body>
</html>