.row
  .col-sm-10
    %h1
      Listing
      = model_class.model_name.human
  .col-sm-2.text-right
    .row
      - # TODO:
      %h1
        %a.btn.btn-primary.btn-new.btn-sm{href: administrable_new_url}
          %i.glyphicon.glyphicon-plus
          = I18n.t('administrable.new')
.row
  .well.col-sm-12
    = search_form_for(@q) do |f|
      %fieldset
        - @search_fields.each do |field|
          .form-group.col-lg-3.col-sm-4.col-xs-6
            = f.label(field, class: "control-label") 
            = f.search_field(field, class: "form-control")
        .form-group.col-xs-12.text-center
          = f.button type: :submit, class: 'btn btn-default btn-search' do
            %i.glyphicon.glyphicon-search
            = I18n.t('administrable.search')
.row
  .text-center
    = paginate @resources
  %table.table.table-striped.col-xs-12
    %thead
      %tr
        - @search_results_fields.each do |field|
          %th= sort_link(@q, field)
        %th
    %tbody
      - @resources.each do |resource|
        %tr
          - @search_results_fields.each do |field|
            %td= resource.try(field)
          %td.text-right
            = link_to I18n.t('administrable.show'), resource, class: 'btn btn-default btn-show btn-sm'
            = link_to I18n.t('administrable.edit'), administrable_edit_url(resource), class: 'btn btn-info btn-edit btn-sm'
  .text-center
    = paginate @resources