.row
  .col-sm-10
    %h1 Show

.row
  .well
    %dl.dl-horizontal
      -# TODO: implement
      - @resource.attributes.except('id', 'created_at', 'updated_at').keys.each do |attr|
        %dt
          = @resource.class.human_attribute_name(attr)
        %dd
          = @resource.send(attr)

.row
  .col-xs-12.text-center
    = link_to 'Back', administrable_index_url, class: 'btn btn-default'
    = link_to 'Edit', administrable_edit_url(@resource), class: 'btn btn-success'

%hr

.row
  .text-center
    = link_to 'Destroy', @resource, :method => :delete, class: 'btn btn-danger'