- self.title = I18n.t('administrable.page_title.show', model_name: model_class.model_name.human)

.row
  .col-sm-10
    %h1
      = title

.row
  .well
    %dl.dl-horizontal
      = render partial: 'show_fields', locals: {resource: @resource, show_fields: @show_fields}

.row
  .col-xs-12.text-center
    = link_to I18n.t('administrable.back'), administrable_index_url, class: 'btn btn-default'
    = link_to I18n.t('administrable.edit'), administrable_edit_url(@resource), class: 'btn btn-info'

%hr

.row
  .text-center
    = render partial: 'delete_link', locals: {resource: @resource}