.row
  .col-sm-10
    %h1
      Show
      = model_class.model_name.human

.row
  .well
    %dl.dl-horizontal
      - @show_fields.each do |attr|
        %dt
          = @resource.class.human_attribute_name(attr)
        %dd
          - case Administrable::Field.field_type(model_class, attr)
          - when :belongs_to
            -# TODO:
            = @resource.try(Administrable::Field.accociation_attribute(model_class, attr)).try(:name)
          - when :enum
            = @resource.send("#{attr}_i18n")
          - else
            = @resource.send(attr)

.row
  .col-xs-12.text-center
    = link_to I18n.t('administrable.back'), administrable_index_url, class: 'btn btn-default'
    = link_to I18n.t('administrable.edit'), administrable_edit_url(@resource), class: 'btn btn-info'

%hr

.row
  .text-center
    = link_to I18n.t('administrable.destroy'), @resource, :method => :delete, class: 'btn btn-danger'