.row
  .col-sm-10
    %h1
      Show
      = model_class.model_name.human

.row
  .well
    %dl.dl-horizontal
      - @show_fields.each do |attr|
        %dt
          = model_class.human_attribute_name(attr)
        %dd
          - case Administrable::Field.field_type(model_class, attr)
          - when :belongs_to
            -# TODO:
            = @resource.try(model_class.reflect_on_belongs_to_attribute(attr)).try(:name)
          - when :enum
            = @resource.send("#{attr}_i18n")
          - when :boolean
            - attr_value = @resource.send(attr)
            = model_class.human_attribute_name("#{attr}_#{attr_value}", default: I18n.t("administrable.values.#{attr_value}_value"))
          - when :text
            = simple_format @resource.send(attr)
          - else
            = @resource.send(attr)

.row
  .col-xs-12.text-center
    = link_to I18n.t('administrable.back'), administrable_index_url, class: 'btn btn-default'
    = link_to I18n.t('administrable.edit'), administrable_edit_url(@resource), class: 'btn btn-info'

%hr

.row
  .text-center
    = link_to I18n.t('administrable.destroy'), @resource, :method => :delete, class: 'btn btn-danger'