- show_fields.each do |attr|
  - case Administrable::Field.field_type(model_class, attr)
    - when :belongs_to
      = render partial: 'show_belongs_to', locals: {attr: attr, resource: resource}
    - when :enum
      = render partial: 'show_enum', locals: {attr: attr, resource: resource}
    - when :boolean
      = render partial: 'show_boolean', locals: {attr: attr, resource: resource}
    - when :text
      = render partial: 'show_text', locals: {attr: attr, resource: resource}
    - when :date
      = render partial: 'show_date', locals: {attr: attr, resource: resource}
    - when :datetime
      = render partial: 'show_datetime', locals: {attr: attr, resource: resource}
    - when :time
      = render partial: 'show_time', locals: {attr: attr, resource: resource}
    - else
      = render partial: 'show_default', locals: {attr: attr, resource: resource}