- show_fields.each do |attr|
  %dt
    = model_class.human_attribute_name(attr)
  %dd
    - case Administrable::Field.field_type(model_class, attr)
    - when :belongs_to
      -# TODO:
      = resource.try(model_class.reflect_on_belongs_to_attribute(attr)).try(:name)
    - when :enum
      = resource.send("#{attr}_i18n")
    - when :boolean
      - attr_value = resource.send(attr)
      = model_class.human_attribute_name("#{attr}_#{attr_value}", default: I18n.t("administrable.values.#{attr_value}_value"))
    - when :text
      = simple_format resource.send(attr)
    - when :date
      = l(resource.try(attr)) unless resource.try(attr).nil?
    - when :datetime, :time
      = l(resource.try(attr).try(:localtime)) unless resource.try(attr).nil?
    - else
      = resource.send(attr)